In [2]:
#New Login Check
#here I am taking input from user
f_username = input()
f_password = input()
username = "admin"
password = "1234"
if(f_username==username and f_password==password):
  print("Login Successful")
else:
  print("Invalid Details")

asklwed
32
Invalid Details

In [16]:
  marks = [45,78,90,33,60]
  pass_count = 0
  fail_count = 0
  for i in marks:
    if i >= 50:
      pass_count+=1
    else:
      fail_count+=1

  print("No.of Students Passed:",pass_count)
  print("No.of Students Failed:",fail_count)

No.of Students Passed: 3
No.of Students Failed: 2

In [29]:
names = [" Alice ", "bob", " CHARLIE "]
clean = []
for name in names:
    cleaned = name.strip().lower()
    clean.append(cleaned)
print("Cleaned Names List:", cleaned_names)

Cleaned Names List: ['alice', 'bob', 'charlie']

In [34]:
msg = ["HI","Welcome to the Platform","OK"]
for i in msg:
  print(len(i))

2
23
2

In [37]:
logs = ["INFO","ERROR","WARNING","ERROR"]
score = 0
for i in logs:
  if i == "ERROR":
    score+=1
print(score)

2